<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.opengms.container.mapper.ModelServiceMapper">

    <resultMap type="ModelService" id="ModelServiceResult">
        <id     property="msId"        column="ms_id"           />
        <result property="containerId"      column="container_id"         />
        <result property="msName"        column="ms_name"            />
        <result property="relativeDir"        column="relative_dir"            />
        <result property="mdlFilePath" column="mdl_file_path"    />
        <result property="encapScriptPath"       column="encap_script_path"           />
        <result property="modelClass"       column="model_class"    typeHandler="org.opengms.container.handler.ModelClassHandler"       />
        <result property="createBy"            column="create_by"                />
        <result property="createTime"           column="create_time"               />
    </resultMap>


    <insert id="insertModelService" parameterType="ModelService" useGeneratedKeys="true" keyProperty="msId">

        insert into model_service(
        <if test="msId != null and msId != 0">ms_id,</if>
        <if test="containerId != null and containerId != 0">container_id,</if>
        <if test="msName != null and msName != ''">ms_name,</if>
        <if test="relativeDir != null and relativeDir != ''">relative_dir,</if>
        <if test="mdlFilePath != null and mdlFilePath != ''">mdl_file_path,</if>
        <if test="encapScriptPath != null and encapScriptPath != ''">encap_script_path,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        <if test="remark != null and remark != ''">remark,</if>
        create_time
        )values(
        <if test="msId != null and msId != ''">#{msId},</if>
        <if test="containerId != null and containerId != ''">#{containerId},</if>
        <if test="msName != null and msName != ''">#{msName},</if>
        <if test="relativeDir != null and relativeDir != ''">#{relativeDir},</if>
        <if test="mdlFilePath != null and mdlFilePath != ''">#{mdlFilePath},</if>
        <if test="encapScriptPath != null and encapScriptPath != ''">#{encapScriptPath},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        sysdate()
        )

    </insert>
    <select id="selectServiceList" resultMap="ModelServiceResult">
        select * from model_service
    </select>

    <select id="getModelServiceById"  resultMap="ModelServiceResult">
        select * from model_service where ms_id=#{msId}
    </select>

    <update id="updateModelService" parameterType="ModelService">
        update model_service
        <set>
            <if test="modelClass != null">model_class = #{modelClass,typeHandler=org.opengms.container.handler.ModelClassHandler},</if>
            update_time = sysdate()
        </set>
        where ms_id = #{msId}
    </update>
</mapper>